/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * = require_tree .
 *
 * = require_self

 */

*{
  /*border: solid red 1px;*/
}
html, body, #root{
  height:100%;
}

.background-layer{
  background-color:  #fafafa;
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.top-level{
  width: auto;
  height: 100%;
  /*background-color:  #fa0000;*/
  /*position: fixed;*/
}

.grey-border{
    border: 1px solid #e6e6e6;
}

.header-component{
  position: relative;

}

.body-component {
  /*width: 616px;*/
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  /*padding-top: 60px;*/
  width: 100vw;
  /*text-align: center;*/

}

 input, textarea, .session-button, .demo-user, input::placeholder, .orElement {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

Link, button, .session-button {
  cursor: pointer;
}

.header-buffer{
  height: 76px;
}

.logo{
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

.user-picture{
  border-radius: 50%;
}
