/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * = require_tree .
 *
 * = require_self

 */


.top-level{
  /*width: 100vw;
  height: 100vh;*/
  background-color:  #fafafa;
}

.grey-border{
    border: 1px solid #e6e6e6;
}

.body-component {
  width: 935px;
  margin-left:auto;
  margin-right:auto;
  padding-top: 60px;

}

 input, textarea, .session-button, .demo-user, .session-input::placeholder, .orElement {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

Link, button, .session-button {
  cursor: pointer;
}

.header-buffer{
  height: 76px;
}

.logo{
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

.user-picture{
  border-radius: 50%;
}
