/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
main {
  width: auto;
  height: 1000px;
  background-color: #fa4afa;
}

.session-view{
  display: flex;
  box-sizing: content-box;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/


  border: 1px solid green;
}

.session-half{

  position: relative;
  display: flex;
}

.session-image-container{
  flex-grow: 2;

  padding:0;
  border:0;
  margin:0;
  display:flex;
  justify-content: center;
  border: 1px solid red;
}

.session-image{
  display: inline-block;
}


.session-container{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  border: 1px solid blue;

}

.session-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1;
  border: 1px solid pink;
  /*padding: 5px;*/
  /*padding-left: 10px;
  padding-right: 10px;*/
  margin: 10px;
  width: 90%;
}

.session-nav{

  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  border: 1px solid orange;
  /*padding: 20px;*/
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: auto;
  margin-right: auto;
  font-size: 13px;


  width: 90%;
  text-align: center;
}





.session-input {


  border-color: #fafafa;
  background-color: #fafafa;
  margin-top: 5px;
  font-size: 13px;
  padding: 2px;
  width: 90%;
}

.session-button{
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 4px;
  width: 90%


}


.logo{
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}
