.image-index-item{
  max-width: 616px;
  background-color: white;
  border-radius: 3px;
}

.image{
  border: 1px solid blue;
  width: 100%;
  display: block;
}

.author-info-container{
  height: 60px;
  width: 100%;

}

.image-index-item-footer{

  height: 60px;
  width: 100%;

}

.user-picture{
  height: 30px;
  width: 30px;
}

.image-index-item{

}
