.image-show{
  display: flex;
  max-height: 600px;
  min-height: 100px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.image-show-image{
  max-height: 600px;
  min-height: 100px;
  max-width: 600px;
  min-width: 100px;
  display: inline-block;
  object-fit: contain;
  background-color: #e6e6e6;
}

.image-show-social-block{
  display: flex;
  width: 335px;
  flex-direction: column;
  height: inherit;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid red;
}

  .image-show-author-info{
    padding-left: 0;
    border: 1px solid green;
  }

    .image-show-author-picture{
      width:40px;
      height:40px;
      margin-right: 12px;
    }

    .image-show-delete{
      border: 1px solid #3897f0;
      padding: 0;
      font-size: 13px;
      line-height: 1;
      font-weight: 600;
      margin-left: 10px;
    }

  .comment-block{
    flex-grow: 1;
    overflow: scroll;
    border: 1px solid blue;
  }

    .comment-item{

      /*border: 1px solid red;*/
    }

  .image-show-badges{
    height: 43px;
  }

  .image-show-like-block{
    height:42px;
    padding-top: 2px;
    border-top: 1px;
  }

  .comment-input{
    width: 100%;
    min-height:23px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-top: 1px solid #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    border: solid red 1px;
    display: flex;
    resize:none;
    overflow: auto;
    max-height: 80px;
  }
