/*.nav-bar{
  border: 1px solid red;
}*/

/*.nav-branding, .nav-search, .nav-user-tools{
  border: 1px solid green;
}*/

/*
.nav-logo, .nav-icon, .nav-tool{
  border: 1px solid blue;

}*/

.nav-background{
  width: 100vw;
  background-color: white;
  position: fixed;
  height: 76px;
  display: inline-block;
  border-bottom: 1px solid #e6e6e6;
}



.nav-bar{
  display: flex;
  justify-content: space-between;
  height: 76px;
  margin-bottom: 1px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 935px;
  box-sizing: content-box;
}



.nav-branding{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;

}

.nav-branding-line{

  width:1px;
  height: 35px;
  background-color: #c7c7c7;
}

.nav-icon{
  height: 30px;
}

.nav-logo {
  font-size: 25px;
}

.nav-user-tools{
  display: flex;
  width: 132px;
  justify-content: space-between;
  align-items: center;
}



.nav-user {
  width: 24px;
  height: 24px;
  background-image: url(https://www.instagram.com/static/bundles/sprite_core.png/fb48443ec9d3.png);
background-position-x: -391px;
background-position-y: -130px;
}

.nav-camera {
    background-image: url(https://www.instagram.com/static/bundles/sprite_core.png/fb48443ec9d3.png);
    background-position: -52px -380px;
    width: 24px;
    height: 24px;
}

.nav-signout {
    background-image: url(https://www.instagram.com/static/bundles/sprite_core.png/fb48443ec9d3.png);
    background-position: -316px -315px;
    width: 24px;
    height: 24px;
    border: none;
}
