
.session-view{
  display: flex;
  box-sizing: content-box;

  position: absolute;
  top: 39%;
  left: 47%;
  transform: translate(-50%, -50%);
  /*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
  /*width: 100%;*/


  /*border: 1px solid green;*/
}




.session-image-container{
  height: 460px;
  width: 624px;
  display: inline-block;
  width: auto;

  /*border: 1px solid blue;
  background-color: pink;*/
}

.phoneImage-container{
  position: relative;
}

.phoneImage{
  position: absolute;
}

.homePhones{
  display: inline-block;
  /*resize: none;*/
  height: 618px;

  /*border: 1px solid red;*/
}


.session-container{
  position: relative;

  max-width: 250px;
  /*width: 250px;*/
  margin: 3px;
  margin-left: 0px;

  /*border: 1px solid blue;*/

}

.session-form{
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 12%;
  border: 1px solid #e6e6e6;
  text-align: center;
  width: 350px;
  box-sizing: border-box;
  height: 100%
}

.session-nav{
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 30%;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 350px;

  background-color: white;
  border: 1px solid #e6e6e6;

  display: flex;
  font-size: 13px;
  justify-content: center;


}







.session-input {

  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: #fafafa;
  margin-top: 5px;
  font-size: 12px;
  font-weight: light;
  padding: 12px;
  /* padding-bottom: 3px; */
  width: 100%;
  /*height: 18px;*/

}

.session-input::placeholder {
  color: #b3b3b3;
  font-weight: 10;
}

.session-input:focus{
  outline: 1px solid #d0d0d0;

}

.session-button{
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  text-transform: capitalize;
  border-radius: 3px;
  font-size: 14;
  font-weight: 600;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 2px;

}

.orBorder {
  display: flex;
  align-items: center;
  padding: 10px 0px 15px 0px;
}

.orLine{
  border-top: 1px solid #c7c7c7;
  flex-grow: 1;
  height: 0;

}

.orElement{
  padding-left:20px;
  padding-right:20px;
  font-size: 10px;
  color: #999;
  font-weight: 600;
  line-height: 15px;
}

.session-logo{
  font-size: 40px;
  margin-bottom: 5%;
  line-height: normal;
  margin-top: 10%
}


.demo-user{
  font-size: 12px;
  color: #385185;
  text-decoration: none;
  display: block;
  align-items: center;
  text-align: center;
}

.session-errors{
  list-style: none;
  font-size: 13px;
  color: red;
  padding:0;
  max-width:100%;
}

.session-nav-link{
  color: #3897f0;
}

.session-error-item{
  color: red;
}
