.user-show{
  width: 935px;
  margin-left: auto;
  margin-right: auto;

}

.user-show-userblock{
  display:flex;
  padding-top: 60px;

  padding-bottom: 44px;

}

.user-show-user-picture{
  height: 152px;
  width: 152px;
  object-fit: cover;
  position: inherit;
  margin-left: 83.5px;
  margin-right: 83.5px;
  border-radius: 50% 50%;

}


.user-show-name{
  font-size: 32px;
  font-weight: 200;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.follow-button{
  border: 1px solid red;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 14px;
  border: 0;
  padding: 6px 24px 6px 24px;
}


.posts{
  font-weight:700;
  display: inline;
}

.user-show-count{
    margin-top: 20px;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
}

.user-show-personal{
  display: inline;
  font-size: 16px;
  margin-top: 20px;
}

.image-list{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  align-items: center;
  grid-gap: 14px 14px;

}


.user-show-image{
  width: 293px;
  height: 293px;
  object-fit: cover;
  padding: 14px;

}

.no-posts{
  display: flex;
  height: 52vh;
  background: white;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;

}
