.user-show{
  position: absolute;
  left:50%;
  // z-index: -1;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;



}

.user-show-userblock{
  display:flex;
  padding-top: 60px;
  padding-left: 139px;
  padding-bottom: 44px;
  position: relative;
  right: 0;
}

.user-show-user-picture{
  height: 152px;
  width: 152px;
  object-fit: cover;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
}

.user-show-name{
  font-size: 32px;
  weight: 100;
  line-height: 40px;
  margin-bottom: 20px;
}

.posts{
  font-weight:700;
  display: inline;
}

.user-show-post-count{
    margin-bottom: 20px;
}




.user-show-personal{
  display: inline;
}
//
.image-list{
  display:grid;
  grid-template-columns: 33% 33% 33%;
}
//
// .image-list{
//   flex-grow: 1;
//   overflow: scroll;
// }

.user-show-image{
  width: 293px;
  height: 293px;
  object-fit: cover;
  margin: 14px;
}
